<h1>Welcome to code overload!</h1>

<p>Finally, a question and answer site for n00bs. Browse through the questions below and click on it to see the detailed question and answers. If you don't see your question, you can add one to the list. </p>

<ul>
  {{#each model as |question|}}
    {{question-tile update="update" question=question}}
  {{/each}}
</ul>

<hr>

{{new-question save="save"}}
