<h1>Friendcation</h1>

<p>Here are some fun things to do in Portland. Let me know what you think by posting a comment or adding like/dislike! </p>

<ul>
  {{#each model as |question|}}
    {{question-tile update="update" question=question}}
  {{/each}}
</ul>

<hr>

{{new-question save="save"}}
